<h1 class="center"><%=t "title.login" %></h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for User.new, url: login_path, as: :session do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <%= f.submit t("links.login"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
