.row
  .col-sm-offset-2
    %h1= t("title.profile")
.row.profile
  .col-sm-3.col-sm-offset-2
    = get_gravatar_of(current_user, size: 200)
    .bio
      .item= current_user.name
      .item= current_user.email
    = link_to "編集", edit_user_path
  .col-sm-3.col-sm-offset-1
    %h2 学習進捗
    %h3 知識 / 単語
    .knowledges_par_words
      = knowledges_par_words
    %h3 平均の理解度
    .average_understanding
      = average_understanding
