<h1><%=t "title.word_index" %></h1>
<ul class="word-index">
  <% @words.each do |word| %>
    <li>
      <h2><%= link_to word.content, word %></h2>
      <div>
        <% if word.knowledges.any? %>
          <%= link_to t("view.understood_site"),
                      word.knowledges.first.url, target: "_blank" %> |
        <% end %>
        <%= link_to t("link.edit"), edit_word_path(word) %> |
        <%= render "shared/delete_link", resources: word %>
      </div>
    </li>
  <% end %>
  <%= paginate @words %>
</ul>
