<h1>単語登録</h1>
<%= form_for @word do |f| %>
  <%= render "shared/error_messages", resources: @word %>
  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit "単語を登録" %>
  </p>
<% end %>
