<h1>単語詳細</h1>
<h2><%= @word.content %></h2>
<ol class="word-show">
<% @word.knowledges.understanding_order.each do |knowledge| %>
  <li>
    理解したサイト：
    <%= link_to knowledge.url, knowledge.url, target: "_blank" %>
    <div>
      理解度：<%= "★" * knowledge.understanding %>
    </div>
  </li>
<% end %>
</ol>
<p>
  <%= link_to "編集", edit_word_path(@word) %> |
  <%= render "shared/delete_link", resources: @word %>
</p>
