<h1><%=t "title.word_details" %></h1>
<h2><%= @word.content %></h2>
<ol class="word-show">
<% @knowledges.each do |knowledge| %>
  <li>
    <%=t "view.understood_site" %>：
    <%= link_to knowledge.url, knowledge.url, target: "_blank" %>
    <div>
      <%=t Knowledge.human_attribute_name :understanding %>：<%= "★" * knowledge.understanding %>
    </div>
  </li>
<% end %>
</ol>
<p>
  <%= link_to t("link.edit"), edit_word_path(@word) %> |
  <%= render "shared/delete_link", resources: @word %>
</p>
