<!DOCTYPE html>
<html>
  <head>
    <title>RdmApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |msg_type, msg| %>
      <p><%= "#{msg_type}：#{msg}" %></p>
    <% end %>
    <% if logged_in? %>
      <p><%= link_to "プロフィール", current_user %><p>
      <p><%= link_to "ログアウト", logout_path, method: :delete %></p>
    <% end %>
    <%= yield %>
    <p><%= link_to "Home", root_path %></p>
  </body>
</html>
